{
	admin off
	log {
		output discard
	}
}

{$DEMO_HOST} {
	request_body {
		max_size 32KB
	}
	reverse_proxy 127.0.0.1:8000 {
		transport http {
			dial_timeout 3s
			response_header_timeout 140s
		}
	}
}
